.container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  max-width: 56rem;
  padding: 0 2rem;
}

.contentContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 80px 0;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 132px 0;
  }
  .content {
    max-width: 56rem;
    padding: 0 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .contentContainer {
    width: unset;
    grid-template-columns: repeat(4, 1fr);
  }
}
