.container {
  margin: 60px 0;
  margin-top: 150px;
}

.content {
  position: relative;
  max-width: 64rem;
  background-color: #f8fafc;
  margin: 0 auto;
  padding: 10rem 2rem 5rem 2rem;
}

.authorImage {
  width: 176px;
  height: 176px;
  border-radius: 176px;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 992px) {
  .container {
    margin-top: 200px;
  }
  .content {
    border-radius: 5rem;
    padding: 8rem 5rem;
  }
  .authorImage {
    width: 288px;
    height: 288px;
    border-radius: 288px;
    position: absolute;
    top: -4rem;
    right: 5rem;
    left: unset;
    transform: unset;
  }
}
