.button {
  display: block;
  border-radius: 0.375rem;
  box-shadow: 0 2px 6px rgba(15, 23, 42, 0.08);
  padding: 0.2rem 1rem;
}

.buttonVariantSolid {
  background-color: theme('colors.primary');
}

.buttonVariantBordered {
  background-color: theme('colors.white1');
}

.buttonText {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.4px;
  line-height: 32px;
  white-space: nowrap;
}

.buttonVariantSolid .buttonText {
  color: theme('colors.white1');
}

.buttonVariantBordered .buttonText {
  color: theme('colors.primary');
}

.buttonVariantSolid + .button {
  border: 1px solid rgb(147 197 253);
}
