.pattern {
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  top: -220px;
  z-index: -1;
}
@media screen and (min-width: 992px) {
  .pattern {
    width: 100%;
    height: 400px;
  }
}
