@media screen and (min-width: 1200px) {
  .container > ul > div:nth-child(4) {
    position: relative;
    top: -3.5rem;
  }

  .container > ul > div:nth-child(5) {
    position: relative;
    top: -2rem;
  }

  .container > ul > div:nth-child(7) {
    position: relative;
    top: -3.5rem;
  }

  .container > ul > div:nth-child(8) {
    position: relative;
    top: -2rem;
  }

  .container > ul > div:nth-child(9) {
    position: relative;
    top: -2rem;
  }
}
