.container {
  display: flex;
  position: relative;
}

.contentContainer {
  margin: 0 auto;
}

.rectangleVector {
  flex-shrink: 0;
  width: 50vw;
  height: 600px;
  z-index: -1;
  border-bottom-right-radius: 5rem;
  position: absolute;
}

.bookImage {
  --shadow: theme('boxShadow.xl');
  box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  border-radius: 5px;
  flex-wrap: wrap;
  object-fit: contain;
  margin: auto 0;
  width: 80%;
}

.testimonialTest {
  max-width: 448px;
  color: theme('colors.black1');
  font-family: theme('fontFamily.CG');
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.testimonialUser {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  color: theme('colors.gray2');
}

.testimonialUser > strong::before {
  content: '-';
  display: inline-block;
  transform: scaleX(3);
  margin: 0 3px;
}

.brandText {
  font-family: theme('fontFamily.CG');
  font-size: 45px;
  font-weight: 800;
  line-height: 40px;
}

.brandSubtext {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
  color: #475569;
}

@media screen and (min-width: 992px) {
  .contentContainer {
    display: flex;
  }
  .brandText {
    font-size: 64px;
    line-height: 64px;
  }
  .brandSubtext {
    font-size: 24px;
    line-height: 32px;
  }
  .rectangleVector {
    margin-left: -25.1rem;
  }
  .testimonialTest {
    margin-top: 0;
  }

  .bookImage {
    width: 470px;
  }
  .rectangleVector {
    height: 885px;
  }
}
