.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 200ms ease-in-out;
}

.box {
  min-width: 100px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 100ms ease-in-out;
}

.box > span {
  color: rgba(100 116 139);
  font-weight: 500;
  justify-content: center;
  line-height: 32px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  margin-right: 8px;
}

.box > p {
  color: theme('colors.black1');
  font-weight: 500;
  line-height: 32px;
}

.box:hover {
  background-color: rgba(239, 246, 255, 0.4);
}

.selected {
  border-bottom: 2px solid rgb(37 99 235);
  background-color: rgb(239 246 255);
}

@media screen and (min-width: 768px) {
  .box {
    width: unset;
  }
  .container {
    min-height: 130px;
  }
}

@media screen and (min-width: 1050px) {
  .container {
    border-bottom: 1px solid rgb(226 232 240);
    margin-top: 100px;
  }
  .box {
    min-width: 250px;
    padding: 40px 53px;
    flex-direction: column;
    padding: 40px 53px;
  }

  .box > span {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    padding: 40px 53px;
  }
}
