.container {
  margin: 132px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  max-width: 56rem;
  padding: 0 3rem 0 6rem;
}

.title {
  font-size: 4rem !important;
  font-weight: 800 !important;
  letter-spacing: -1.6px !important;
  line-height: 64px !important;
}

.description {
  max-width: 36rem;
}

.pricingContainer {
  min-width: 976px;
  background-color: #f8fafc;
  padding: 10rem 5rem 2rem 5rem;
  border-radius: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 64px 0;
}
.pricingContainer > div {
  max-width: 312px;
  min-width: 312px;
  margin: 0 auto;
}
.pricingContainer > div:nth-child(2) {
  max-width: calc(312px + 2 * 4rem);
  position: relative;
  top: -4rem;
  border-radius: 3rem;
}

.pricingContainer > div:nth-child(2) {
  background-color: theme('colors.primary');
  color: theme('colors.white1');
  box-sizing: border-box;
  padding: 4rem;
}
