.container {
  margin: 50px auto;
  max-width: 800px;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 80px auto;
    padding: 0 5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 130px auto;
    padding: 0;
  }
}
