.container {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  max-width: 56rem;
  padding: 0 2rem;
}

@media screen and (min-width: 992px) {
  .container {
    margin: 132px 0;
  }
  .content {
    max-width: 56rem;
    padding: 0 3rem;
  }
}
